# Scraping Toronto's Postal Codes Table from Wikipedia

### Import libraries to Scrape the website

In [1]:
from bs4 import BeautifulSoup
import requests
print("Libraries imported!")
url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"

Libraries imported!

### Get the table html

In [2]:
with requests.Session() as s:
    r = s.get(url)
    #print(r.text)
    soup = BeautifulSoup(r.text, 'html.parser')
    #print(soup.prettify())
    table = soup.find('table',{'class':'wikitable sortable'})

In [3]:
#table.find_all('tr')

### Method  to remove "\n" from the string

In [4]:
import re

def remove_n_char(s):
    return re.sub('\n', '', s)

### Get the table columns

In [5]:
header = []
theader = table.find_all('th')
for row in range(len(theader)):
    #print(theader[row].string)
    header.append(theader[row].string)
print(header)

['Postal Code\n', 'Borough\n', 'Neighborhood\n']

In [6]:
for col in range(len(header)):
    header[col] = remove_n_char(header[col])
header

['Postal Code', 'Borough', 'Neighborhood']

### Get the table rows

In [7]:
tr = table.find_all('tr')
data = []
for row in tr:
    data.append(row.find_all('td'))

In [8]:
for row in range(len(data)):
    for column in range(len(data[row])):
        if len(data[row]) > 0:
            data[row][column] = remove_n_char(data[row][column].string)

### Transform the list in a Pandas Dataframe

In [9]:
import pandas as pd
df = pd.DataFrame(data)

In [10]:
df.tail()

       0             1                                                  2
176  M5Z  Not assigned                                       Not assigned
177  M6Z  Not assigned                                       Not assigned
178  M7Z  Not assigned                                       Not assigned
179  M8Z     Etobicoke  Mimico NW, The Queensway West, South of Bloor,...
180  M9Z  Not assigned                                       Not assigned

In [11]:
df.columns = header

In [12]:
df.tail()

,Postal Code,Borough,Neighborhood
176,M5Z,Not assigned,Not assigned
177,M6Z,Not assigned,Not assigned
178,M7Z,Not assigned,Not assigned
179,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."
180,M9Z,Not assigned,Not assigned

## Dataframe processing instructions

- The dataframe will consist of three columns: PostalCode, Borough, and Neighborhood

In [13]:
df.rename(columns={'Postal Code':'PostalCode'}, inplace=True)

In [14]:
df.columns

Index(['PostalCode', 'Borough', 'Neighborhood'], dtype='object')

In [15]:
import numpy as np
df.fillna(value=np.nan, inplace=True)
df.dropna(inplace=True)

- Only process the cells that have an assigned borough. Ignore cells with a borough that is Not assigned.

In [16]:
#df[(df["Borough"] != 'None') & (df["Borough"] != "Not assigned")]

df = df[df["Borough"] != "Not assigned"]

- More than one neighborhood can exist in one postal code area. For example, in the table on the Wikipedia page, you will notice that M5A is listed twice and has two neighborhoods: Harbourfront and Regent Park. These two rows will be combined into one row with the neighborhoods separated with a comma as shown in the above table.

In [17]:
df[df["PostalCode"] == "M5A"]

  PostalCode           Borough               Neighborhood
5        M5A  Downtown Toronto  Regent Park, Harbourfront

- If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough.

In [18]:
df[df["Neighborhood"] == "Not assigned"]

Empty DataFrame
Columns: [PostalCode, Borough, Neighborhood]
Index: []

In [19]:
df.head()

  PostalCode           Borough                                 Neighborhood
3        M3A        North York                                    Parkwoods
4        M4A        North York                             Victoria Village
5        M5A  Downtown Toronto                    Regent Park, Harbourfront
6        M6A        North York             Lawrence Manor, Lawrence Heights
7        M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

- In the last cell of your notebook, use the .shape method to print the number of rows of your dataframe.

In [20]:
df.shape

(103, 3)